# Ignore everything
/**

# Except
!/.gitignore
!/__init__.py
!/plotting/**
!/for_paper_gerneral_stuff.py
!/for_paper_run_scripts.py
!/global_share_of_emissions_per_gas_and_sector.py
!/lulucf_test_data_sources.py
!/make_documentation.py
!/national_share_of_emissions_per_gas_and_sectorp.y
!/ndcs_covered_emissions_global.py
!/ndcs_magicc_output_postprocessing.py
!/share_of_emissions_per_gas_and_sector.py