/comparison_emi_ndcs_SSP2/*
/comparison_type_calc_orig/*
/ndc_quantifications_20200428_1443_SSP2_default/*
/REI_targets/*
/ssp2_difference_calc_orig_pc100/*
/ssp2_negative_tar_ipc0/*
/ssp2_targets_above_baseline/*
/*.pdf